.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.transparent {
  background-color: transparent;
}

#status label {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 4px;
}
