.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.transparent {
  background-color: transparent;
}

#box-status {
}

#box-status label {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 4px;
}
