.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.transparent {
  background-color: transparent;
}

#control-box {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2px 8px;
}

#notifications-grid label:nth-child(even) {
  /* font-style: italic; */
  /* font-weight: 800; */
}
